*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
body {
    background-color: #2c3e50;
}

// Menu / Navigation Menu

.wrap{
    padding: 20px;
}

.wrap h1 {
    color: #ffff;
}

.menu-horizontal{
    background-color: #34495e;
    border-radius: 10px;
    width: 620px;
    margin: auto;
}

.menu-horizontal ul {
    margin: 0px;
    padding:0px;
    list-style-type:none;
}

.menu-horizontal ul li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;

}


.menu-horizontal ul li:hover{
    background-color: #1abc9c;
    border-radius: 2px;
      
}

.menu-horizontal ul li a{
    display: block;
    color: #ffff;
    text-decoration: none;
    padding: 30px 20px 30px 20px;
}

.menu-horizontal ul li:hover{
    background-color: #1abc9c;
    margin: 0px 10px 5px 15px;
    padding: 0px;
    text-decoration: none;
}

// Dropdwon CSS code

.dropbtn {
    background-color: #2c3e50;
    color: #ffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #34495e;
    width: 135px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #1abc9c;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #1abc9c;}
  